:root {
	--clr-neon: rgb(57, 255, 20);
	--clr-bg: rgb(5, 100, 20);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: black;
  font-size: 0.75rem;
}

.heading {
	margin: 0 auto;
	margin-bottom: 5em;
	max-width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border: calc(0.1vw + 0.4em) dashed white;
	border-radius: 8vw;
	transform: scale(0, 1);
	opacity: 0;
	animation: popUp 1s ease-in-out 0.5s forwards;
}

@keyframes popUp {
	to {
		transform: scale(1,1);
		opacity: 1;
	}
}

h1 {
	padding: 1vw 5vw;
	top: 0;
	color: white;
	font-size: calc(3vw + 1.5em);
}

.neon-btn {
	margin-top: 2em;
	opacity: 0;
	transform: translateY(100%);
	animation: fadeUp 1s ease-in-out 1s forwards;
}

@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.neon-button {
	display: inline-block;
	text-decoration: none;
	color: var(--clr-neon);
	padding: 0.8em 1.5em;
	margin: 2em;
	border: 0.125em solid var(--clr-neon);
	border-radius: 1em;
	font-weight: bold;
	position: relative;
	font-size: clamp(1em, 2vw + 1em, 2.5em);
	box-shadow: inset 0 0 0.5em 0.1em, 0 0 0.5em 0.1em;
	text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.7), 0 0 0.45em var(--clr-neon);
}

.neon-button::before,
.neon-button::after {
	content: "";
	position: absolute;
}

.neon-button::before {
	pointer-events: none;
	background: var(--clr-neon);
	width: 100%;
	height: 100%;
	left: 0;
	top: 95%;
	transform: perspective(1em) rotateX(20deg) scale(1, 0.3);
	filter: blur(1em);
	opacity: 0.6;
}

.neon-button::after {
	inset: 0;
	box-shadow: 0 0 2em 0.15em var(--clr-neon);
	border-radius: 1em;
	opacity: 0;
}

.neon-button:hover {
	background-color: var(--clr-neon);
	color: var(--clr-bg);
	text-shadow: none;
	box-shadow: inset 0 0 0.5em 0.1vw;
	cursor: pointer;
}

.neon-button:hover::before {
	opacity: 0.8;
}

.neon-button:hover::after {
	opacity: 1;
}

.neon-button:focus {
	color: white;
	box-shadow: none;
}

.neon-button:focus::before {
	opacity: 1;
}

.neon-button:focus::after {
	box-shadow: 0 0 2em 0.5em var(--clr-neon);
}